html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  color: #444;
  font-size: 1.285rem;
}

input, button {
  font-size: 1.285rem;
}

button {
  color: #4a4a4a;
}