.container {
  width: 75%;
  padding-top: 6%;
  margin: 0 auto;
  display: grid;
  align-items: center;
}

.container > main {
  display: grid;
  justify-content: center;
}

.container > main > h1 {
  margin: 0;
  padding-bottom: 10px;
  text-transform: uppercase;
  text-align: center;
}

